<form #offerForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="top">
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input
        matInput
        placeholder="Title"
        name="title"
        [(ngModel)]="offer.title"
        required
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <input
        matInput
        placeholder="Description"
        name="description"
        [(ngModel)]="offer.description"
        required
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Points</mat-label>
      <input
        matInput
        placeholder="Points"
        name="points"
        [(ngModel)]="offer.points"
        required
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Busniess Id</mat-label>
      <input
        matInput
        placeholder="Busniess Id"
        name="businessid"
        [(ngModel)]="offer.businessid"
        required
      />
    </mat-form-field>
  </div>
  <div class="bottom">
    <button type="submit" mat-raised-button color="primary">Save</button>
    <button type="button" mat-raised-button color="warn" (click)="cancel()">
      Cancel
    </button>
  </div>
</form>
